{% extends 'base.html' %}
{% block content %}

  <h1>{{ prompt }}</h1>

  {% for msg in get_flashed_messages() %}
    <h1 style="color: red">{{ msg }}</h1>
  {% endfor %}

  <form action="/answer" method="POST">
    {% for choice in choices %}

      <!-- you should have one item like this for every choice -->
      <p>
        <input
            type="radio"
            name="answer"
            value="{{choice}}">
        {{choice}}
      </p>
      {% endfor %}

    <button>Continue</button>
  </form>

{% endblock %}
